
.env
*.env


__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg


venv/
.venv/


.idea/
.vscode/
*.swp


.tracescope/


.DS_Store
Thumbs.db

tools
/tools
cache
/cache
test
/test

playground/
/playground